<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="jdbcTypeForNull" value="NULL" />
    </settings>
    <!-- 命名空间 -->
    <typeAliases>
        <typeAlias type="com.jing.oa.model.User" alias="User"/>
        <typeAlias type="com.jing.oa.model.Role" alias="Role"/>
        <typeAlias type="com.jing.oa.model.Permission" alias="Permission"/>
    </typeAliases>
</configuration>